.body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

div#img {
    background-image: url("../images/wawe.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 780px;
}
.name {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-left {
    margin-right: 10vw;
}
h2, h4, button, .logonav, .school, .work, .str, label, fieldset,.nav {
    font-family: 'Roboto Condensed', sans-serif;
}
h1,h3 {
    font-family: 'Raleway', sans-serif;
    color: #0D302C;
    max-width: 100%;
    align-self: center;
}
.logonav {
    color:#00FF00;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
}
.logonav:hover {
    color: #0D302C;
}
label {
    color: #00B2A0;
}
.nav {
    display: flex;
}

.article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

h1 {
    font-weight: bold;
    font-size: 200px;
    line-height: 235px;
    line-height: 100%;
    letter-spacing: 0.6px;
    color: #0D302C;
}

h2 {
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    align-self: center;
    color: #0D302C;
}
h3 {
    font-weight: 100;
    font-size: 48px;
    color: #01353E;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutschool {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    height: 50vh;
}

.school {
    font-weight: lighter;
    font-size: 14px;
    color: #242121;
    margin-top: 1vh;
    margin-left: 3vw;
    height: 10vh;
    width: 20vw;
}
.work {
    font-size: 14px;
    color: #242121;
    display: flex;
    align-items: center;
    justify-content: center;
}
.str {
    font-weight: bold;
    font-size: 18px;
    color: #242121;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inschool {
    display: flex;
    justify-content: space-around;
}

.section {
    display: flex;
    flex-flow: row wrap;
}

.imgS {
    margin-left: 5vw;
}
.navgal {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-left: 20%;
}

.gal {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
    margin-left: 20%;
    margin-right: 20%;
}
#img1 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    width: 100%;
    height: 100%;
}
#img2 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    width: 100%;
    height: 100%;
}
#img3 {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    width: 100%;
    height: 100%;
}
#img4 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
}
#img5 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
}
#img6 {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    width: 100%;
    height: 100%;
}
.ourcom {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 20%;
    margin-right: 20%;
}

button {
    width: 350px;
    height: 70px;
    color: #242121;

}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
button:focus { color: red; }
button:active { color: green; }

.fieldset {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(7,1fr);
    margin-left: 20%;
    margin-right: 20%;
    border: none;
}

#labelname {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#labelphone {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#labeltext {
    grid-row: 3 / 6;
    grid-column: 1 / 2;
}

.send {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    height: 5vh;
}
.question {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.phone {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
}

.address {
    grid-row: 5 / 7;
    grid-column: 2 / 3;
}
.send, .question, .phone, .address {
    font-size: 24px;
    color: #242121;
}
.question, .phone, .address {
    background-color: #F8F8F8;
}
.nav {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 40%;
    margin-right: 40%;
    color: #242121;
}

.addnav {
    color: #00B2A0;
    font-size: 24px;
    text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
}